@page "/" 
@*/ is the host page (root)*@

<PageTitle>Home</PageTitle>
@* native blazor component, the text goes on the tab bar *@

<h1>Hello, world!</h1>

Welcome to your new app.
@* defaults to paragraph when there are no tags *@

<Counter IncrementAmmount="10"/>
@* calls all the code from the counter page, incrementammount parameter being changed so it increments at different paces *@