@page "/todo"
@rendermode InteractiveServer

<h3>ToDo</h3>

<ul>
    @foreach (var todo in todos)
    {
        <li> @todo.Title </li>
    }
</ul>

<input @bind="newToDo" /> @*Textfield for item*@
<button @onclick="AddToDo" > Add ToDo </button> @*Button to add item to list*@

@code {
    private List<ToDoItem> todos = new();
    string newToDo = "";

    void AddToDo()
    {
        if (!string.IsNullOrWhiteSpace(newToDo))
        {
            todos.Add(new ToDoItem { Title = newToDo });
            newToDo = string.Empty;
        }
    }
}
